/****** Establece el estilo para todas las páginas, suprimiendo el margen y padding *******/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/*********** Formato de elementos html ************/
/* Fuente y color para el cuerpo */

body {
    font-family: "lato", sans-serif;
    color: white;
}

/* Texto de ligas y omite decoración (subrayado) */
a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}


h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

/* Las imagenes no deben rebasar el tamaño de su contenedor */
img {
    width: 100%;
}

/* omitir estilo en listas */
li {
    list-style-type: none;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

/****** Estilos para las clases ********/

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.navbar {
    background-color: #376ca5;
    height: 70px;
    padding: 0 30px;
}

.navbar h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover {
    color: #7ecdd5;
    border-bottom: 3px solid #7ecdd5;
}

.info {
    height: 300px;
    background-color: #376ca5;
}

.info p {
    margin-bottom: 30px;
}

/* Decorar imagen con una sombra */
.info img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.info-form {
    padding-left: 7px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
    position: relative;
    top: 50px;
}

.info input[type='email'] {
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: #7ecdd5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.info-form {
    margin: auto;
}

/* .little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;

} */

.lower-container {
    margin: 120px auto;
    padding: 0;
    max-width: 1400px;
}

.title {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.text {
    color: black;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin: 0, 20px;
    text-align: justify;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.carac {
    padding: 45px 50px;
    text-align: center;
}

.car {
    margin: 0 30px;
    text-align: center;
    width: 800px;
}

.carac .fa {
    color: #376ca5;
}

.testimonio {
    color: black;
    padding: 40px;
}

/* Poner la imagen en un marco circular*/
.testimonio img {
    height: 100%;
    clip-path: circle();
}

.testimonio h3 {
    text-align: center;
}

/* Grid de tres columnas */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
        7px 7px 20px rgba(0, 0, 0, 0.2)
}

.circle {
    background-color: transparent;
    border: 3px solid #376ca5;
    height: 90px;
    position: relative;
    top: -30px;
    left: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
}

footer {
    background-color: #376ca5;
    padding: 20px 10px;
}

footer a {
    color: white;
    margin: 0 10px;
}

footer a:hover {
    color: #7ecdd5;
    border-bottom: 2px solid #7ecdd5;
}